/*.sublime-project
/*.sublime-workspace
/.gradle
/.hxsublime_tmp
/dump
/log
/scutsHt/log
/scutsHt/benchmark/log
/scutsHt/benchmark/dump
/scutsHt/benchmark/bin/cache1.n.n
/scutsHt/benchmark/bin/bench1.n.n
