
/samples/01_ArrayMonad/_scuts_disk_cache
/samples/01_ArrayMonad/bin
/bin
/samples/02_MonadTransformer/bin
/samples/03_Foldable/bin
/samples/03_Foldable/_hots_cache
/samples/04_Collection/_hots_cache
/samples/04_Collection/bin
/_scuts_cache