/*.sublime-project
/*.sublime-workspace
/.gradle
/.hxsublime_tmp
/dump
/log
/scutsHt/log
/scutsHt/benchmark/log
/scutsHt/benchmark/dump
/scutsHt/benchmark/bin/cache1.n.n
/scutsHt/benchmark/bin/bench1.n.n
/build/dump
/build/log
/samples/dump
/samples/log

/samples/bin/samples/ht_animation/animation.js
/samples/bin/samples/ht_animation/animation.js.map
/samples/bin/samples/ht_animation/sample.js
/samples/bin/samples/ht_animation/sample.js.map
/samples/bin/samples/ht_equals/sample.n
/samples/bin/samples/ht_promises/promises.js
/samples/bin/samples/ht_promises/promises.js.map
/samples/bin/samples/ht_semigroups/monoids.n
/samples/bin/samples/ht_semigroups/sample.n
/samples/bin/samples/ht_semigroups/semigroups.n
/samples/bin/samples/ht_sort/sample.n
/scuts/bin/testNeko.n

/samples/bin/samples/ht_monads/sample.n
